<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Lyfe</title>
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/layout.css">
    <link rel="stylesheet" href="/static/styles/modules.css">
</head>

<body id="userStats">
    <%- include('partials/header.ejs') %>

    <div id="UserResultsDiv">
      <h2>this is <%= userObject.display_name %>'s stats</h2>
      <h4 class="fave_artist">your favorite Artist is: <%= userObject.fave_artist %></h4>

      <% for (let i=0; i < tracks.length; i++) { %>
        <ul>
          <li>
            <img src="<%= tracks[i].album_cover_url %>" alt="">              
            <h4 class="track_name">your favorite Song is: <%= tracks[i].track_name %></h4>          
            <h4 class="album_name">which is on the Album: <%= tracks[i].artist %></h4>
            <h4 class="release_date">which was released on: <%= tracks[i].release_date %></h4>
            <h4 class="user_rank">and has a user rank of: <%= tracks[i].user_rank %></h4>
            <!-- <h4 class="global_plays">which was played globally: <%= tracks[i].global_plays %></h4> -->
            <h4 class="user_plays">which was played by <%= userObject.display_name %>: <%= tracks[i].user_plays %></h4>
            <h4 class="last_time_user_played"><%= userObject.display_name %> last time you played this song: <%= tracks[i].last_time_user_played %></h4>
            <h4 class="album_name">which is on the Album: <%= tracks[i].album_name %></h4>
       
            <form action="/getTrackData/<%= tracks[i].id%>" method="GET">
                <input class="grid-item5" type="submit" value="More info about this Song" class="showTrackBtn">
            </form>
          </li>
       </ul>
       <% } %>

    </div>


    
</body>

</html>